body{
    background: #fdfffc;
}

.container{
    height: 100%;
    width: 100%;
    text-align: center;
    max-width: auto;
}

.title{
    margin-bottom: 20px;
    margin-top: 50px;
}

.inputam{
    margin-top: 10px;
    margin-bottom: 20px;
}

#servS{
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputpers{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
}

#btn{
    margin-bottom: 30px;
}