@import url("https://fonts.googleapis.com/css2?family=Alata&family=Palanquin+Dark&family=Secular+One&display=swap");

body {
  margin-top: 50px;
  background-color: #edddd4;
}

.container {
  position: absolute;
  left: 30%;
  width: 40%;
}

h1 {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Secular One";
  color: #197278;
  font-size: 65px;
}

.main {
  position: relative;
}

button {
  display: inline;
  position: absolute;
  left: 520px;
  top: 15px;
  border: solid #edddd4;
  background: #edddd4;
  font-family: "Secular One";
  color: #197278;
}

#inputam {
  margin-left: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 6px solid #772e25;
  width: 80%;
  font-size: 20px;
  background-color: #c44536;
  color: #fff;
}

.list {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  list-style-position: inside;
}

li {
  width: 70%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 60px;
  border: 4px #c8553d solid;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  transition: 1s;
}

li:hover {
  background-color: #f28f3b;
}
