body{
    margin-top: 50px;
}

.container{
    position: absolute;
    left: 30%;
    border: 1px solid black;
    width: 40%;
}

h1{
    margin-bottom: 25px;
    text-align: center;   
}

.list{
    text-align: center;
    margin-bottom: 20px;
}
 
ul{
    list-style: circle;
    list-style-position: inside;
}