@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Fira+Sans&family=Noto+Sans+KR&family=Recursive&display=swap");

* {
  font-family: "Noto Sans KR";
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #560bad;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

nav {
  background-color: #560bad;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  position: absolute;
}

@media (min-width: 425px) {
  #hb {
    display: none;
  }
}

@media (max-width: 425px) {
  .nav-main .nav-a,
  .nav-main .nav-b button {
    display: none;
  }

  nav .logo {
    transform: scale(0.6);
    padding: 0;
  }

  #hb {
    display: flex;
    transform: scale(0.4);
    color: #fff;
  }

  body nav .nav-main {
    justify-content: flex-end;
  }
}

img {
  width: 60px;
  height: 50px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.logo {
  display: flex;
  padding-right: 30px;
  padding-left: 4vw;
  margin-bottom: 10px;
}

.nav-a {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  height: 30px;
  margin-bottom: 10px;
}

a {
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: #fff;
  font-size: 0.95em;
  font-family: "Cabin";
  text-decoration: none;
  font-weight: 500;
  padding: 1em;
}

a:hover {
  text-decoration: underline;
}

.nav-b {
  display: flex;
  padding: 0 4vw;
}

button {
  font-family: Recursive;
  font-size: 1.3em;
  border: 0.15em solid white;
  background-color: #560bad;
  padding: 0.3rem 0.5rem;
  color: #fff;
  font-weight: 100;
  cursor: pointer;
}

#signup {
  margin-left: 30px;
}

#welcome {
  display: flex;
  justify-content: center;
}

.desc-mem {
  display: flex;
  flex-direction: column;
}

#welcome img {
  padding: 2em 0;
  width: 50%;
  height: 100%;
}

#resp-nav {
  width: 150px;
  background-color: #560bad;
  position: absolute;
  top: 8%;
  align-self: flex-end;
  display: flex;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  width: 100%;
}

#resp-nav{
  width: 100%;
  display:none;
}

ul{
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  list-style-type: none;
  color: white;
  margin-bottom: 5px;
}

@media (max-width:425px){
  #resp-nav{
    display:none;
  }
}