@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@536&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@490&display=swap');

/* Hover */
button:hover{
  border-color: #70d6ff;
}

/* Transition */
.tr-1{
  transition: all 0.5s;
}

/* Display */
.d-il {
  display: inline;
}

.d-bl {
  display: block;
}

.d-bil {
  display: inline-block;
}

/* Position */
.relative{
  position: relative;
}

.left-10p{
  left: 10%;
}

/* Margin */
.mx{
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-center {
  margin: 50px auto;
}

.m-b-5{
    margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}                                                                                                     

.m-t-50{
  margin-top: 50px;
}

/* Padding */
.p {
  padding: 10px;
}

.p-x-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Width */
.w-s {
  width: 100px;
}

.w-xs {
  width: 50px;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-30 {
  width: 30%;
}

/* text align */

.text-center {
  text-align: center;
}

/* border */
.border {
  border: 1px black solid;
}

.borderless {
  border: none;
}

.semi-rounded {
  border-radius: 5px;
}

.rounded {
  border-radius: 10px;
}

.border-yellow{
    border: 5px #e9ff70 solid;
}

.border-yellow-light{
    border: 3px #e9ff70 solid;
}

/* Font Size */
.font-m {
  font-size: 17px;
}

/* Font Colors */
.f-white {
  color: white;
}

/* Placeholder */
::placeholder {
  color: azure;
  font-family: "Work Sans";
  opacity: 80%;
}

.ph-center::placeholder {
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

/* outline:none */
input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

/* Background Color */
.bg-grey-200 {
  background-color: rgb(248, 196, 196);
}

.bg-green-100 {
  background-color: #80ed99;
}

.bg-pink-100{
    background-color: #ff70a6;
}

.bg-yellow-100{
    background-color: #e9ff70;
}

.bg-orange-100{
    background-color: #ffd670;
}

.bg-peach{
    background-color: #ff9770;
}

.bg-bgum{
    background-color: #70d6ff;
}

/* fonts */
.font-pt {
  font-family: "PT Sans";
}

.font-rubik{
    font-family: 'Rubik';
}

.font-work{
    font-family: 'Work Sans';
}

.font-fjalla{
    font-family: "Fjalla One";
}

/* Shadow */
.shadow{
    box-shadow: 12px 12px 0px  #e9ff70;
}

/* Cursor */
.pointer{
  cursor: pointer;
}

/* Box Sizing */
.box{
  box-sizing: border-box;
}