/* Display */
.d-il {
  display: inline;
}

.d-bl{
    display: block;
}

.d-bil{
    display: inline-block;
}

/* Margin */
.m{
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-center{
    margin: 30px auto;
}

.m-b-10{
    margin-bottom: 10px;
}

/* Width */
.w-s {
  width: 100px;
}

.w-xs{
    width: 50px;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-35{
    width: 35%;
}

.w-30{
    width: 30%;
}

/* text align */

.text-center{
    text-align: center;
}

/* border */
.border{
    border: 1px black solid;
}

.semi-rounded{
    border-radius: 5px;
}

.rounded{
    border-radius: 10px;
}

/* Font Size */
.font-s{
    font-size: 15px;
}

/* Placeholder */
input:focus::placeholder{
    color: transparent;
}