body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px black solid;
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 7 px;
}

.username,.password{
    margin: 10px 0;
}

label{
    display:block;
}